@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

.godo * {
  font-family: 'Godo', sans-serif;
}

.container, .row {
  height: 100%;
  min-height: 100%;
}

html, body {
  height: 90%;
  background-color: #6C5B7B;
  background: linear-gradient(to right, #139dba , #397fb3);
  font-family: 'Godo', 'Sans-serif';
}

.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #ffffff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #202326;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

}

.container-4 button.icon, .container-4 button.icon, .container-4 button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4:hover button.icon:hover{
  background: white;
}

